# Ignore React build and dependencies
frontend/node_modules/
frontend/build/

# 
__pycache__/
*.py[cod]
*.pyo

# 
venv/
.env/
*.env

# 
*/migrations/*
!*/migrations/__init__.py

# 
db.sqlite3

# 
.DS_Store
Thumbs.db
