@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-select .ant-select-selector {
  border-width: 1.5px !important;
  box-shadow: none !important;
}

.custom-select.ant-select-focused .ant-select-selector {
  box-shadow: none !important;
}
.ant-picker {
  border-width: 1.5px !important;
  box-shadow: none !important;
}

.ant-typography,
.ant-breadcrumb,
.ant-btn,
.ant-menu,
.ant-input,
.ant-select,
.ant-tabs,
.ant-card-head,
.ant-table-wrapper,
.ant-table,
.ant-radio-group,
.ant-radio-button-wrapper,
.ant-select-dropdown,
.ant-picker-panel,
.ant-tabs-content-holder,
.ant-card-body {
  font-family: 'Quicksand', sans-serif !important;
}